* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.img-logo-computador {
    height: 100px;
    margin-left: 10%;
    margin-top: 50px;
    
}

.img-logo-alguém-no-computador {
    height: 500px;
    
}

h1 {
    color: rgb(239, 239, 243);
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    color: rgb(239, 239, 243);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    color: rgb(239, 239, 243);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.button-contato {
    color: aliceblue;
    background-color: rgb(72, 72, 227);
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.button-contato:hover {
    background-color: rgb(239, 239, 243);
    color: rgb(72, 72, 227);
    transition: 0.5s ease-in-out;
}

body {
    height: 100vh;
}

.caixa-mãe {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
    
}


.caixa-principal {
    width: 100%;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
    
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    
}

.mascara {
    height: 100vh;
    width: 100%;
    background: linear-gradient(109deg, rgba(23, 26, 33, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(23, 26, 32, 0.99) 85%);
    position: fixed;
    top: 0;
}

.img-logo-whatsapp {
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;

}

.header img {
    height: 60px;
}

.header a {
    color: white;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

.header a:hover {
    color: rgb(72, 72, 227);
    font-size: 26px;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -300px;
    padding: 20px;
    border-radius: 5px;
    transition: left 1s ease-in-out;
    

}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 20px;
    outline-color: aqua;
}

textarea {
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 20px;
    outline-color: aqua;
}

.button-orçamento {
    color: aliceblue;
    background-color: rgb(72, 72, 227);
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    
}

.mascara-fomulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;



    
}

footer{
text-align:center;
padding:20px;
}


@media (max-width: 900px) {

    h1 {
        font-size: 20px;
    }

    h2 {
        display: none;
    }

    p {
        display: list-item;
    }


    .caixa-mãe {
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        

    }

    .caixa-principal {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    .img-logo-computador {
        width: 80vw;
        height: auto;
    }

    .img-logo-alguém-no-computador {
        width: 80vw;
        height: auto;
    }

    .header {
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .header img {
        display: none;
    }

    .img-logo-computador {
        display: flex;
        width: 50vw;
        height: auto;
        
    }

    .header a {
        font-size: 30px;
    }
    


    

}